body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(21, 160, 160);
}

.main-header{
    background-color: rgb(186, 203, 218);
}

.blog{
    background-color: rgb(186, 203, 218);
}

.highlight-text{
    background-color: blue;
    color: white;
}