/* *{
    color: rgb(27, 27, 231);
} */

header{
    background-color: #f0ebebeb;
}

section.my-article{
    background-color: #f2a9a9a9;
}



header p{
    color: red;
}

li a{
    color: rgb(170, 170, 47);
}

/* section.my-article h2{
    color: green;
} */

section.my-article > h2{
    color: green;
}


h2+p{
    color: rgb(209, 123, 92);
}
